:root {
  --grid-row-gap: 0
}
$grid-row-gap: var(--grid-row-gap);
.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: calc(($grid-row-gap/2) * -1px);
  margin-right: calc(($grid-row-gap/2) * -1px);
  row-gap: calc($grid-row-gap * 1px);
  min-width: 0;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}