.row {
  margin-bottom: 8px;
  color: white;
}
.col {
  background: #1677ff;
  padding: 18px 0;
  text-align:center;
  color: white;
  &--deep {
    background: #66a5fd;
    padding: 18px 0;
    text-align: center;
  }
}
.xrow {
  background: var(--rp-c-bg-mute);
  padding: 8px 0px;
}
.hrow {
  background: var(--rp-c-bg-mute);
  height: 100px;
}