:root {    
  --button-height-xs: 1.875rem;
  --button-height-sm: 2.25rem;
  --button-height-md: 2.625rem;
  --button-height-lg: 3.125rem;
  --button-height-xl: 3.75rem;

  --button-padding-xs: 0.875rem;
  --button-padding-sm: 1.125rem;
  --button-padding-md: 1.375rem;
  --button-padding-lg: 1.625rem;
  --button-padding-xl: 2rem;
}