code {
  counter-reset: step;
  counter-increment: step 0;
}

.line::before {
  content: counter(step);
  counter-increment: step;
  display: inline-block;
  color: #fff;
  margin-right: 8px;
  text-align: right;
  min-width: 2.5em;
}